@import "media-queries";

/*===================button=================== */

.button {
  background-image: url("../images/croixa.svg");
  position: absolute;
  width: 10vmin;
  height: 10vmin;
  max-width: 50px;
  border: none;
  top: 35px;
  right: 5%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  text-indent: 400%;
  overflow: hidden;
  white-space: nowrap;
  z-index: 100;
}

.buttonshare {
  position: static;
}
.button--info {
  background-image: url("../images/infob.svg");
}
.button--switch {
  background-image: url("../images/arrowa.svg");
  top: 50%;
}

.button--facebook {
  background-image: url("../images/facebook.svg");
}
.button--twitter {
  background-image: url("../images/twitter.svg");
}
.button--instagram {
  background-image: url("../images/instagram.svg");
}

.button--dl {
  background-image: url("../images/save.svg");
}

.button--dl {
  top: 100px;
}

/*===================img=================== */

.img-info {
  width: 100vw;
  height: 300px;
  object-fit: cover;
}

.img-mobile {
  max-width: 100%;
  object-fit: cover;
  margin-top: 25px;
  filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.25));
}

.img-mockup {
  max-width: 100%;
  object-fit: cover;
  margin-top: 25px;
  filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.25));

  @include sm {
    max-width: 450px;
    margin-top: 50px;
  }
}

.img-mockup--desktop {
  display: none;
  @include md {
    display: block;
    margin: 100px auto 0 auto;
  }
}

.img-mockup--mobile {
  display: block;
  @include md {
    display: none;
  }
}

.img-mobile--top {
  max-width: 350px;
  display: none;

  @include md {
    display: block;
  }

  @include xl {
    max-width: 400px;
  }
}

.logo {
  width: 40px;
  height: 40px;
}

.img-ban {
  width: 100%;
  height: 30vh;
  object-fit: cover;

  @include xs {
    height: 40vh;
    max-height: 450px;
  }
  @include md {
    height: auto;
  }

  @include xl {
    height: 650px;
    max-height: 650px;
  }
}

.img-ban--marge {
  margin-top: 25px;
  @include md {
    margin-top: 50px;
  }
}

.img-ban--margeb {
  margin-top: 100px;
}
