@import "media-queries";

/*===================title=================== */

.title {
  font-weight: 700;
  font-size: 3rem;
  line-height: var(--line-height);
  color: var(--color-white);
}

.title--big {
  font-weight: 400;
  letter-spacing: 1.4px;
  color: rgba(255, 255, 255, 0.8);
}

.title--popup {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 10%;
  color: var(--color-black);
}

.title--pbig {
  font-size: 1.5rem;
  margin: 0 0 18px 0;
  @include sm {
    font-size: 2.5rem;
    margin: 0 0 50px 0;
  }
}

.title--eye {
  font-size: 1.5rem;
  text-align: center;
  padding-top: 10px;
}

.title--small {
  color: var(--color-black);
  font-size: 2rem;
  line-height: 120%;
  margin-bottom: 25px;
  @include sm {
    font-size: 3rem;
    margin-bottom: 35px;
  }
}

.title--medium {
  font-weight: 900;
  text-transform: uppercase;
  color: var(--bg-blackE);
  font-size: 1rem;
  margin-bottom: 18px;
  letter-spacing: 2px;
}

.title--white {
  color: var(--color-white);
}

.title--logo {
  font-size: 1rem;
}
