/*===================utils=================== */

.strong {
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
}

.display {
  display: none;
}

.link {
  padding: 9px 0 8px 0;
  width: 180px;
  border: 3px solid var(--color-black);
  text-align: center;
  box-sizing: border-box;
  border-radius: 20px;
  color: black;
  cursor: pointer;
  display: block;
  text-transform: uppercase;
  margin: 10% auto;
  color: var(--color-black);
}

.img-link {
  width: 25px;
  height: 25px;
  margin-top: -1px;
  margin-right: 15px;
}
.link:hover {
  opacity: 0.6;
  transition: 0.3s ease;
  background-color: var(--bg-blackD);
  transform: scale(1.02);
}

.link-black {
  flex-shrink: 0;
  cursor: pointer;
  border: none;
  background-color: var(--color-white);
  color: var(--color-black);
  margin: 35px 0;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  position: relative;
  padding: 11px 25px 10px 25px;
  border-radius: 20px;

  text-transform: uppercase;
  @include sm {
    margin: 100px 0;
    font-size: 1.5rem;
    padding: 18px 35px 17px 35px;
  }
  &::before {
    content: "";
    position: absolute;
    background-color: var(--color-black);
    width: 200px;
    height: 150px;
    border-radius: 50%;
    left: calc(100% * 0.5);
    top: calc(100% * 0.5);
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
    transition-duration: 0s;
  }

  &:hover::before {
    transition: transform 0.7s, opacity 0.7s;

    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
  }

  &:active::before {
    transition-duration: 0s;
    opacity: 1;
    transform: translate(-50%, -50%) scale(0);
  }
  &:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.02);
  }
}

.link--small {
  border: 3px solid var(--color-white);
  color: var(--color-white);
  font-size: 1rem;
}

.link--left {
  margin: 50px 0;

  @include md {
    margin: 50px auto;
  }
}

.link-footer {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  padding-bottom: 18px;

  &__el a {
    color: var(--color-white);
    border: 1px solid transparent;
    @include md {
      font-size: 1rem;
    }
    &:hover {
      transition: 0.3s ease-in-out;
      border-bottom: 1px solid white;
    }
  }

  @include md {
    width: 100%;
  }
}
.padd-right {
  @include md {
    padding-right: 18px;
  }
}

.citation {
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
  font-size: 1.8rem;
  line-height: 100%;
}

.citation-container {
  margin-top: -10px;
  background-color: rgba(130, 130, 130, 0.1);
  height: 300px;
  display: flex;
  align-items: center;
}

.citation-container--munch .citation {
  font-size: 20px;
}
.citation-container--warhol .citation {
  font-size: 25px;
}

.citation-container--pratt .citation {
  font-size: 25px;
}

.citation-container--klein .citation {
  font-size: 25px;
}

.citation--oeuvre {
  bottom: 0;
  font-size: 14px;
  color: var(--color-black);
  text-align: center;
  font-weight: 200;
  width: 100%;
  margin-top: -7px;
}

.citation--oeuvre div {
  padding: 7px 10px;
}

.citation--oeuvre div {
  background-color: var(--bg-blackD);
  backdrop-filter: blur(20px) saturate(110%) contrast(120%);
  border-right: 1px solid var(--bg-blackD);
}

.imageOeuvre {
  display: flex;
  flex-direction: column;
}

.p {
  margin-bottom: 18px;
}

.parab {
  margin-bottom: 18px;
}

.p-light {
  font-weight: 200;
}

.p-vertical-relative {
  position: relative;
}

.p-vertical {
  display: none;

  @include xl {
    display: block;
    position: absolute;
    transform: rotate(90deg);
    right: -470px;
    bottom: 410px;
    font-size: 180px;
    opacity: 0.05;
    z-index: 1;
    text-transform: uppercase;
  }
}

.p-vertical--reverse {
  transform: rotate(-90deg);
  right: 70px;
  bottom: 420px;
}

.strong-opacity {
  color: rgba(255, 255, 255, 0.7);
}
