:root {
  //color
  --color-white: #fff;
  --color-black: #1e1e1e;
  --color-green: #82c285;
  --color-orange: #ed6c43;
  --bg-black: rgba(30, 30, 30, 0.45);
  --bg-blackC: rgba(30, 30, 30, 0.25);
  --bg-blackD: rgba(30, 30, 30, 0.1);
  --bg-blackE: rgba(30, 30, 30, 0.8);
  --bg-blackF: rgba(30, 30, 30, 0.05);
  --bg-blackG: rgba(30, 30, 30, 0.7);

  //font
  --font-family: "Nunito", sans-serif;
  --line-height: 140%;
  --font-size: 18px;

  //diver
  --stroke-dash: 1080;
}
