@import "variables";
@import "reset";
@import "title";
@import "img";
@import "media-queries";
@import "utils";
@import "base";

html,
body {
  margin: 0;
  padding: 0;

  height: 100%;
  width: 100%;
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-size: var(--font-size);
  color: var(--color-black);
}

.overflow {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: black;
  border: 0;
}

.camera,
.SourceVideo,
.video {
  position: absolute;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  z-index: -20;
}

////filter

.filter-blur {
  filter: invert(1) saturate(0.75) hue-rotate(60deg);
  overflow-x: hidden;
}

#animation {
  overflow: hidden;
  height: 100vh;
}

.SourceVideo,
.video,
#camera--output {
  transform: scaleX(-1);
  filter: Flip;
}

#SourceVideo {
  display: none;
}

.loader {
  display: none;
  width: 100%;
  height: 100vh;
  background-color: var(--color-black);
  position: absolute;
  z-index: 700;
  overflow: inherit;
}

.loader-img {
  height: 200px;
  fill: var(--color-white);
}

.boxAnim {
  fill: var(--color-black);
  position: absolute;
  z-index: 10;
}

.loader-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.loadingAnim {
  animation-name: loading;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
}
@keyframes loading {
  0% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    transform: translateY(100vh);
    opacity: 0;
  }
}

.loaderflex__el {
  margin: 15px;
}

.containerButton {
  position: absolute;
  overflow-x: hidden;
  width: 100vw;
  top: 82%;
  padding-left: 41%;
  z-index: 15;
}

.flexButton {
  display: inline-flex;
  cursor: pointer;
  flex-wrap: nowrap;
  flex-shrink: inherit;
  padding: 15px 0;
}

.camera--trigger {
  box-sizing: border-box;
  width: 10vw;
  height: 10vw;
  background-color: transparent;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  font-size: 16px;
  border: none;
  bottom: 30px;
  border-radius: 13vw;
  opacity: 1;
  background-image: url("../images/pupillea.svg");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  margin: 5px 4vw;
  box-sizing: border-box;
  filter: contrast(200%);
  transition: transform 0.3s ease-in-out;
}

.button-removeAnimation {
  animation: removeButton 0.5s linear forwards;
}

@keyframes removeButton {
  100% {
    transform: scale(0.2);
    opacity: 0;
  }
}

.camera--big {
  transform: scale(1.1);
}
.circle {
  width: 30vw;
  height: 18vw;
  position: absolute;
  top: 82.5%;
  left: 50%;
  z-index: 15;
  transform: translate(-50%, 0);
  opacity: 1;
}

.animSvg {
  fill: transparent;
  stroke: #fff;
  stroke-width: 10px;
}

.circle--pos {
  object-fit: contain;
}

.worked {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--bg-blackG);
  top: 0;
  left: 0;
}

.worked p {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 2rem;
  color: var(--color-white);
  transform: translate(-50%, -50%);
  z-index: 800;
  line-height: 140%;
  text-transform: uppercase;
  z-index: 2;
}

.animVideo {
  stroke-dasharray: var(--stroke-dash);
  stroke-dashoffset: var(--stroke-dash);
  animation: dash 12s linear forwards;
  stroke: red;
}
@keyframes dash {
  from {
    stroke-dashoffset: var(--stroke-dash);
  }
  to {
    stroke-dashoffset: 0;
  }
}

.info {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  z-index: 1;
  color: var(--color-black);
  z-index: 600;
}
.information-para {
  font-weight: 200;
  margin-top: 25px;
}
.information-para p {
  margin: 10px 0;
}

.container-share {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 410;
}

.info-container {
  width: 80%;
  margin: 10% auto;
  margin-top: 50px;
}

.imageOeuvre-container {
  position: relative;
}

.display--opacity {
  transition: 1s ease-in-out;
  opacity: 0;
}

.share {
  position: absolute;
  z-index: 150;
  top: 85%;
  background-color: var(--bg-black);
  backdrop-filter: blur(20px) saturate(120%) contrast(150%);
  border-right: 1px solid var(--bg-blackC);
  width: 100%;
  height: 200px;
}
.share-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 35px 25px 0px 25px;
  margin: 0 auto;
  width: 250px;
}

.button-shareSave {
  padding: 10px 15px;
  background-color: var(--bg-black);
  border: none;
}

.button-shareCancel {
  padding: 10px 15px;
  background-color: red;
  border: none;
}

.button-share {
  padding: 10px 15px;
  background-color: red;
  border: none;
}

.containerbutton-share ul {
  display: flex;
  list-style: none;
}

.containerbutton-share ul li {
  margin: 5px;
}

.container-name {
  position: absolute;
  font-size: 1rem;
  width: 200px;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 15;
}

.flex-name {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  justify-content: space-between;
  gap: 5px;
}

.name__el {
  font-weight: 400;
  grid-column: 2;
  grid-row: 1;
  font-size: 25px;

  color: #fff;
  justify-self: start;
}

.name__el--change {
  font-weight: 700;
  grid-row: 1;
  grid-column: 1;
  justify-self: end;
  margin: 0;
  transform: translateY(0%);
}
video::-webkit-media-controls-panel {
  position: absolute;
  width: 100%;
  top: 75%;
  background-image: linear-gradient(transparent, transparent);
}

@keyframes test {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.shareImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.video {
  top: 100%;
}

.containerVideo {
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: red;
  top: 0;
}

.isActive {
  filter: invert(1);
  border: 1px solid black;
}

.containerparameters {
  position: fixed;
  right: 5px;
  bottom: 40%;
}
.parametersflex {
  display: flex;
  flex-direction: column;
}
.onlymobile {
  display: none;
}

.containeronlymobile {
  max-width: 480px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.onlymobile__el {
  font-size: 25px;
  line-height: 140%;
}

.onlymobileimg {
  height: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.2;
}

.customFilter {
  position: absolute;
  background-color: var(--bg-black);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

#pixel {
  transform: rotate(-180deg);
}

.content-titleInput {
  border: none;
  position: relative;
}
.titleInput {
  display: block;
  width: 80%;
  margin: 30px auto 0px auto;
  border: none;
  text-align: center;
  background-color: transparent;
  color: var(--color-white);
  font-size: 1.5rem;
  font-weight: 700;

  &:focus {
    outline: 0;
  }
}
.icon-titleInput {
  display: inline-block;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 80%;
  position: absolute;
  background-image: url("../images/pencil.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.customFilter-flex {
  display: flex;
  flex-flow: column nowrap;
  width: 80%;
  margin: 0 auto;
  padding-top: 10%;

  & label {
    text-align: center;
    font-weight: 400;
    font-size: 0.8rem;
    // margin-top: 5px;
    margin-bottom: -5px;
    color: var(--color-white);
    text-transform: uppercase;
  }
}

.customFilter-flex__el {
  padding: 5px 0px;
  margin: 15px 0px;
  appearance: none;
  display: block;
  height: 0.5em;
  background-color: var(--color-black);
  border-radius: 15px;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 1.2em;
    width: 1.2em;
    border-radius: 2em;
    cursor: pointer;
    border: 0;
    margin-bottom: 1px;
    background-image: url("../images/pupillea.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    transition: border 0.1s ease-in-out, box-shadow 0.2s ease-in-out,
      transform 0.1s ease-in-out;
    box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.15);
    &:active,
    &:hover:active {
      cursor: grabbing;
      cursor: -webkit-grabbing;
      transform: scale(0.975);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
      filter: invert(0.5);
    }
    &:hover {
      transform: scale(1.1);
    }
  }
}

#tint {
  background: linear-gradient(
    to right,
    rgb(255, 0, 0),
    rgb(255, 255, 0),
    rgb(0, 255, 0),
    rgb(0, 255, 255),
    rgb(0, 0, 255),
    rgb(255, 0, 255),
    rgb(255, 0, 0)
  );
}

#saturation {
  background: linear-gradient(to right, hsl(0, 100%, 50%), hsl(0, 0%, 50%));
}

#lumi {
  background: linear-gradient(to right, hsl(0, 100%, 0%), hsl(0, 0%, 100%));
}

#pixel {
  &::-webkit-slider-thumb {
    transform: rotate(180deg);
  }
}

.customFilter-button {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding-top: 50px;
}

.button-custom {
  border: 2px solid var(--color-white);
  background: transparent;
  color: var(--color-white);
  padding: 8px 10px 7px 10px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 0.8rem;
  margin: 0px 10px 0px 10px;
}

@media (min-width: 550px) {
  .onlymobile {
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: var(--color-black);
    position: fixed;
    z-index: 150;
    color: var(--color-white);
    z-index: 600;
  }
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.animation-container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

@media (max-width: 550px) {
  .loader {
    display: initial;
  }

  .logo-path1 {
    animation: logoP1 0.8s ease forwards;
    transform: translate(-15px, -35px);
    opacity: 0;
  }

  .boxAnim {
    animation: boxA 0.8s linear forwards;
    animation-delay: 0.4s;
  }

  @keyframes boxA {
    0% {
    }
    99% {
      opacity: 1;
    }
    100% {
      transform: translateY(200px);
      opacity: 0;
    }
  }

  @keyframes logoP1 {
    100% {
      opacity: 1;
      transform: translate(-15px, -15px);
    }
  }
}
