@import "media-queries";
@import "variables";
@import "reset";
@import "title";
@import "img";
@import "utils";
@import "base";

html {
  scroll-behavior: smooth;
}
html,
body {
  margin: 0;
  padding: 0;

  font-family: var(--font-family);
  line-height: var(--line-height);
  font-size: var(--font-size);
  color: var(--color-black);
}

.header {
  position: relative;
  width: 100%;
  height: 15vh;
  background-color: var(--color-black);

  @include md {
    z-index: 10;
    height: 10vh;
  }
}

.header-scroll {
  @include md {
    transition: 0.4s ease;
    animation-name: animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    position: fixed;
    background-color: var(--bg-black);
    opacity: 0;
    filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.25));
  }
}

@keyframes animation {
  100% {
    opacity: 1;
  }
}

.nav {
  display: none;

  @include md {
    display: block;
  }
}

/*===================section=================== */

.section {
  position: relative;
}

.section--header {
  z-index: 15;
  background-color: var(--color-black);
  height: 90vh;
  color: var(--color-white);

  padding: 10% 0;

  @include sm {
    padding: 150px 0;
  }
  @include md {
    padding: 100px 0;
  }
}

.section-scroll {
  @include md {
    height: 100vh;
  }
}

.section-margin {
  padding-top: 100px;
  @include sm {
    padding-top: 200px;
    padding-bottom: 150px;
  }
  @include xl {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}

.section--margin {
  width: 80%;
  margin: 0 auto;
  padding-top: 100px;
  @include xs {
    width: 60%;
  }
  @include sm {
    width: 70%;
    padding-top: 200px;
  }

  @include md {
    width: 90%;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include xl {
    max-width: 1000px;
    padding-top: 150px;
    padding-bottom: 150px;
  }
}
.section-half {
  padding-top: 50px;

  @include sm {
    padding-top: 100px;
  }
  @include xl {
    padding-top: 150px;
  }
}

.section--testi {
  margin-top: 100px;
  @include xs {
    width: 60%;
    margin: 100px auto;
  }

  @include sm {
    width: 70%;
  }

  @include md {
    width: 90%;
  }
  @include xl {
    margin-top: 150px;
    max-width: 1000px;
  }
}

.section-margin--half {
  padding: 50px 0;
  @include sm {
    padding: 100px 0;
  }

  @include md {
    padding: 200px 0;
  }
}
/*===================header=================== */

.header div {
  padding: 18px 0;
  @include xs {
    width: 60%;
  }

  @include sm {
    width: 80%;
  }

  @include md {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
  }
  @include xl {
    max-width: 1400px;

    margin: 0 auto;
  }
}

.header-content {
  width: 80%;
  margin: 0 auto;
}

.header-flex {
  @include md {
    display: flex;
    width: 90%;
    margin: 0 auto;
    align-items: center;
  }
  & h2,
  p {
    @include md {
      max-width: 450px;
    }

    @include xl {
      max-width: none;
    }
  }

  @include xl {
    max-width: 1000px;
  }
}

.social {
  font-size: 0.6rem;
  position: absolute;
  bottom: 50px;
  left: 10%;

  @include xs {
    left: 20%;
  }

  @include sm {
    font-size: 1rem;
  }

  @include md {
    left: 5%;
    position: relative;
    max-width: 500px;
  }
  @include xl {
    left: 0;
    bottom: -25px;
    width: 1000px;
    max-width: 1000px;
    margin: 0 auto;
  }
  &-content {
    display: flex;

    &__el {
      padding: 0 5px 0 0;
    }
    &__el a {
      color: var(--color-white);
      font-weight: 200;
      border: 1px solid transparent;
      &:first-child {
        margin-left: 0;
      }
      &:hover {
        transition: 0.3s ease-in-out;
        border-bottom: 1px solid white;
      }
      @include sm {
        margin: 15px;
      }
    }
  }
}

.logo-flex {
  display: flex;
  align-items: center;

  .logo-flex__el {
    padding: 0px 10px 10px 0px;
  }
}

/*===================footer=================== */

.footer {
  background-color: var(--color-black);
  color: var(--color-white);
  font-size: 10px;
}

.footer-container {
  padding: 50px 0 18px 0;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  @include sm {
    width: 60%;
  }
  @include md {
    width: 90%;
  }
  @include xl {
    width: 1000px;
  }
}

.footer-border {
  border-bottom: 1px solid var(--color-white);
  margin-bottom: 18px;
  width: 100%;

  @include sm {
    width: 400px;
  }
  @include md {
    width: 700px;
  }
  @include md {
    width: 100%;
  }
}
.footer-link {
  display: flex;
  flex-flow: column nowrap;
  padding-bottom: 25px;
  margin-bottom: 25px;
  font-size: 1rem;
  text-align: center;
  margin: 0 auto 25px auto;
  @include md {
    flex-flow: row nowrap;
    width: 300px;
    justify-content: space-between;
  }
}

.footer-link__el {
  padding: 10px 0;
  @include md {
    text-align: left;
  }
}

.footer-link__el a {
  color: var(--color-white);
  font-weight: 200;
}

.footer-link__el a:hover,
.footer-link__el a:active {
  transition: 0.4s ease;
  opacity: 0.4;
}

.logo-transpa {
  position: absolute;
  width: 400px;
  top: -200px;
  right: -220px;
  transform: rotate(-100deg);
  opacity: 0.1;
  @include sm {
    width: 600px;
  }

  @include md {
    top: -300px;
    right: -350px;
    width: 800px;
    opacity: 1;
  }

  @include xl {
    top: -200px;
    right: -250px;
    width: 800px;
  }
}

.cc {
  font-size: 0.5rem;
  text-align: center;
}

.header-flex div {
  width: 80%;
  margin: 0 auto;

  @include xs {
    width: 60%;
  }
  @include md {
    width: 100%;
  }
}

.center {
  width: 80%;
  margin: 0 auto;

  @include sm {
    width: auto;
  }

  @include md {
    text-align: center;
  }
}

.bg-black {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 50px 0 50px 0;
  overflow: hidden;

  @include sm {
    padding: 100px 0 100px 0;
  }
  @include xl {
    padding: 150px 0 150px 0;
  }

  &-container {
    width: 80%;
    margin: 0 auto;
    @include xs {
      width: 60%;
    }
    @include md {
      width: 90%;
    }
    @include xl {
      width: 1000px;
    }
    & div {
      @include md {
        max-width: 400px;
      }
    }
  }
}

.flex {
  @include md {
    display: flex;
    justify-content: space-around;
  }
  @include xl {
    display: flex;
    justify-content: space-around;
    max-width: 1000px;
  }
}

.flex__el {
  @include md {
    max-width: 400px;
  }

  .flex__el-white {
    color: var(--color-white);
  }
}

.flex--inverse {
  @include md {
    flex-direction: row-reverse;
  }
}

.flex-sec1 {
  @include md {
    display: flex;
    justify-content: space-between;
    gap: 18px;
    align-items: center;

    &__el {
      flex: 1;
    }

    &--botom {
      align-items: flex-end;
    }

    .p-size {
      height: 100px;
    }
  }

  @include xl {
    &__el {
      max-width: 550px;
    }
  }
  @include xl {
    gap: 50px;
  }
}

.flex-sec1--end {
  align-items: flex-end;
}

.img-container {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: end;
  gap: 5px;
  :first-child {
    border-radius: 50px 0px 0px 0px;
  }
  @include sm {
    margin-top: 50px;
  }
  &__el {
    width: 100%;
    height: 100%;
    object-fit: cover;
    &:nth-child(1) {
      border-radius: 5px 0px 0px 0px;
    }
    &:nth-child(2) {
      border-radius: 0px 5px 0px 0px;
    }
    &:nth-child(3) {
      border-radius: 0px 0px 0px 5px;
    }
    &:nth-child(4) {
      border-radius: 0px 0px 5px 0px;
    }

    @include xl {
      width: 230px;
      height: 230px;
    }
  }
}

.para {
  font-weight: 700;
  margin-bottom: 18px;
}

.img-vec {
  position: absolute;
  overflow: hidden;
  width: 120%;
  height: 700px;
  top: 0;
  right: -10%;
  opacity: 0.4;
  @include xs {
    right: -30%;
  }

  @include sm {
    right: -20%;
  }

  @include md {
    transform: scale(-1);
    left: -90%;
    top: 75px;
  }

  @include xl {
    transform: scale(1);
    left: -1400px;
    top: -200px;
    width: 2000px;
    height: 2000px;
  }
}

.img-vec--mobile {
  @include xl {
    display: none;
  }
}

.img-vec--desktop {
  display: none;
  @include xl {
    display: block;
  }
}
.img-vec__el {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 20%;
  @include sm {
    left: 40%;
  }

  @include md {
    left: 0%;
  }
}

.img-vec--extend {
  height: 500px;
  @include md {
    height: 800px;
  }
}
.img-vec__el--pos {
  opacity: 0.05;
  top: -25px;
}

/*===================testimonial=================== */

.testimonial {
  @include md {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 18px;
  }
  @include xl {
    gap: 25px;
  }
}

.testimonial__el {
  margin: 50px 0;
  @include sm {
    margin: 75px 0;
  }

  @include md {
    flex: 1;
  }
}

.testimonial-citation {
  display: flex;
  align-items: center;
  font-weight: 200;
  padding: 25px 10vw 25px 10vw;
  background-color: rgba(30, 30, 30, 0.05);
  margin-top: 25px;
  height: 250px;
  position: relative;

  margin: 0 auto;
  @include xs {
    border-radius: 5px;
  }

  @include sm {
    border-radius: 5px;
  }

  @include md {
    max-width: 100%;
    padding: 20px;
  }
  @include xl {
    padding: 50px;
  }

  &:after {
    content: url("../images/polygon.svg");
    position: absolute;
    left: 50%;
    bottom: -27px;
    transform: translate(-50%, 0);
  }

  @include sm {
    margin: 0 auto;
  }
}

.testimonial-citation--black {
  background-color: rgba(30, 30, 30, 1);
  color: var(--color-white);
  &:after {
    content: url("../images/polygon-black.svg");
  }
}

.testimonial-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;

  & img {
    height: 75px;
    width: 75px;
  }
}

.quote:before {
  content: "« ";
}

.quote:after {
  content: " »";
}

.testimonial-autor {
  padding-top: 5px;
  font-weight: 400;
  font-style: italic;

  @include sm {
    text-align: center;
  }
}

/*===================slider=================== */

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  max-height: 500px;
}

.slide-mockup {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 250px;
  object-fit: cover;
  cursor: -webkit-grab !important;

  &:active {
    cursor: -webkit-grabbing !important;
  }
}

.swiper-pagination {
  position: relative !important;

  bottom: 0px !important;
  padding-top: 25px !important;
}

.swiper-pagination-bullet {
  background-color: var(--color-black) !important;
  width: 12px !important;
  height: 12px !important;
}
.swiper-pagination-bullet-active {
  background-color: var(--color-black) !important;
}

/*===================loader=================== */

.loader-desktop {
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--color-black);
  position: fixed;
  z-index: 700;
}

.loaderdesktop-img {
  height: 200px;
  fill: var(--color-white);
}

.boxAnim {
  fill: var(--color-black);
  position: absolute;
  z-index: 10;
}

.loader-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.loadingAnim {
  animation-name: loading;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
}
@keyframes loading {
  0% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    transform: translateY(100vh);
    opacity: 0;
  }
}

.logo-path1 {
  animation: logoP1 0.8s ease forwards;
  transform: translate(-15px, -35px);
  opacity: 0;
}

.boxAnim {
  animation: boxA 0.8s linear forwards;
  animation-delay: 0.4s;
}

@keyframes boxA {
  0% {
  }
  99% {
    opacity: 1;
  }
  100% {
    transform: translateY(200px);
    opacity: 0;
  }
}

@keyframes logoP1 {
  100% {
    opacity: 1;
    transform: translate(-15px, -15px);
  }
}
